.container-feed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 0 1rem;
    padding: 1rem 0;
    border: solid 2px #202327;
    color: #d1d3d4;
}

.container-feed p {
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
}

.container-input{
    display: flex;
    width: 100%;
    border: solid 2px #202327;
}

.user-img{
    border-radius: 50%;
    max-height: 40px;
    padding: 10px;
}

.input{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    background-color: #151515;
    border-bottom: solid 1px #202327 ;
}