.container-feed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    margin: 0 1rem;
    padding: 1rem 0 0;
    border: solid 2px #202327;
    color: #d1d3d4;
}

.title {
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
}

.container-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 2px #202327;
    border-top: solid 2px #202327;
}

.container-input-tweet {
    display: flex;
}

.user-img {
    border-radius: 50%;
    max-height: 40px;
    margin: 1rem;
}

.input {
    font-size: 20px;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    background-color: #151515;
    color: #d1d3d4;
    border: none;
    white-space: pre-wrap;
    &:focus{
        outline: none;   
    }
}

.container-input-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 0 0 13%;
    padding: 0.4rem 0;
}

.container-input-button button {
    color: #d1d3d4;
    background-color: #EB455F;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    &:disabled{
        opacity: 0.5;
    }
}

.icon {
    display: flex;
    color: #EB455F;
}

.icon p {
    padding: 12px;
}

.container-tweets{
    display: flex;
    align-items: flex-start;
    border-bottom: solid 2px #202327;
    width: 100%;
}

.container-tweets img{
    border-radius: 50%;
    max-height: 40px;
    margin: 1rem;
}

.container-tweets-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 16px 0;
}

.container-tweets-data span{
    font-weight: 100;
    opacity: 0.5;
}

.tweet{
    color: #d1d3d4;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 0;
}

.iconsTweet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 2% 0 0 0;
}

.comment{
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    &:hover{
        opacity: 1;
        color: #1d9bf0;
    }
}

.rt{
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    &:hover{
        opacity: 1;
        color: #00ba7c;
    }
}

.heart{
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    &:hover{
        opacity: 1;
        color: #eb1779;
    }
}

.trash{
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    &:hover{
        opacity: 1;
        color: red;
    }
}