.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 20%;
    padding: 1rem;
    list-style: none;
    color: #d1d3d4;
}

.menu-items{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
    padding: 12px;
}