.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 20%;
    padding: 1rem;
    list-style: none;
    color: #d1d3d4;
}

.menu-logo{
    font-size: 30px;
    font-weight: 400;
    padding: 12px;
    margin: 10px 0;
}

.menu-items{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
    padding: 12px;
    margin: 5px 0;
}

.menu-items-icon{
    font-size: 30px;
    padding-right: 20px;
}