.menu{
    position: fixed;
    top: 0;
    left: 13%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 18%;
    list-style: none;
    color: #d1d3d4;
}

.menu-logo{
    font-size: 30px;
    font-weight: 400;
    padding: 12px 20px;
    margin: 10px 0;
    cursor: pointer;
}

.menu-items{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 50px;
    cursor: pointer;
    &:hover{
        background-color: #202020;
    }
}

.menu-items-icon{
    font-size: 30px;
    padding-right: 20px;
}

@media(max-width: 475px){
    .menu-logo{
        margin: 0px;
        color: #EB455F;
    }
    .menu-items{
        display: none;
    }
}