*{
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 475px) {
  .App{
    flex-direction: column;
    align-items: center;
  }
  
}